.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--color-white);
}
.gallery-Title{
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fontFamily-dm_sans);
    font-size: var(--fontSize-title-1);
    letter-spacing: var(--letterSpacing-1);
    font-weight: 600;
    margin: 2rem;
}
.gallery-Container{
    width: 80%;
}
.gallery-Card{
    position: relative;
    padding: 1rem;
    border: none;
    width: 100%;
    height: 300px;
}
.gallery-Card-Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.gallery-Card-Text-Ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.4rem;
    margin-bottom: 3rem;
    border-radius: 20px;
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.674);
    width: 100%;
    height: 100%;
}
.gallery-Card-Title{
    font-family: var(--fontFamily-dm_sans);
    font-size: var(--fontSize-body-3);
    letter-spacing: var(--letterSpacing-1);
    margin-bottom: 1rem;
}
.gallery-Card-Para{
    font-family: var(--fontFamily-dm_sans);
    font-size: var(--fontSize-label-1);
    letter-spacing: var(--letterSpacing-1);
    color: #afadad;
    margin-bottom: 1rem;
}
.custom-modal .ant-modal-content {
    background-color: #090909; /* Change this to your desired background color */
    padding: 20px;
    border-radius: 10px;
  }